<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#0000FF">
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="0">
  <TR VALIGN="TOP"> 
    <TD><A HREF="#date">Date &amp; Time</A><BR>
      <A HREF="#states">States</A><BR>
      <A HREF="#countries">Countries</A><BR>
			<A HREF="#richtext">Rich Text Area</a><BR>
			<A HREF="#dualselect">Dual Select</A><BR>
      <A HREF="#autoexpand">Auto-Expanding Select</A><BR>
      <A HREF="#numbers">Numbers</A><BR>
      <A HREF="#formanalyze">Form Analyzer</A><BR>
    </TD>
    <TD><A HREF="/cgi-bin/test/wrapex">Paul's Wrap Demo Page</A></TD>
  </TR>
</TABLE>

<TABLE WIDTH="100%" BORDER="1" CELLSPACING="2" CELLPADDING="2">
  <TR VALIGN="TOP"> 
    <TD COLSPAN="4" BGCOLOR="#000099"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><B><FONT COLOR="#FFFFFF"><A NAME="date"></A>Date 
      &amp; Time</FONT></B></FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Code</FONT></B></TD>
    <TD><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Produces</FONT></B></TD>
    <TD COLSPAN="2"><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Notes</FONT></B></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [date.date]]</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.date]</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Today's 
      date </FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [date.date;month=3;day=16;year=1967]]</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.date;month=3;day=16;year=1967]</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Specific 
      date </FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [time.time]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[time.time]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Current 
      time </FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [time.time]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[time.time]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Current 
      time </FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [time.stamp]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[time.stamp]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Timestamp</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [time.timezone]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[time.timezone]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">If 
      site.timezone is not set (possible future thing to do) it defaults to US/Mountain</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [var time.timezone "Europe/Oslo"]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[var time.timezone 
      "Europe/Oslo"]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Change 
      timezone to &quot;Europe/Oslo&quot;</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [time.time]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[time.time]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Time 
      in new timezone</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_month]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_month]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">By 
      default, select name is &quot;month&quot; and values are 01-12</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_month;name=&quot;birth_month&quot;]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_month]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Change 
      select name to &quot;birth_month&quot;</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_month;nopad=1]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_month;nopad=1]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Don't 
      pad digits in select</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_month;month=1]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_month;month=1]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Show 
      month name</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_month;mon=1]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_month;mon=1]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Show 
      month abbreviation</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_month;both=1]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_month;both=1]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Show 
      number and name</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_month;number=1;mon=1]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"> [date.select_month;number=1;mon=1]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Show 
      number and abbreviation</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_dom]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_dom]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">By 
      default, select name is &quot;dom&quot; and values are 01-31</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_dom;nopad=1]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_dom;nopad=1]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Don't 
      pad digits in select</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_year]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_year]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">By 
      default, select name is &quot;year&quot; and values are 2002-2012</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_yy]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_yy]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">By 
      default, select name is &quot;year&quot; and values are 02-12</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_birthyear]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_birthyear]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">By 
      default, select name is &quot;birthyear&quot; and values are 1900-1990</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_birthyy]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_birthyy]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">By 
      default, select name is &quot;birthyear&quot; and values are 1900-1990</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [date.select_year;start=2000;end=2004]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[date.select_year;start=2000;end=2004]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Change 
      start and end years</FONT></TD>
  </TR>
  <FORM NAME=shdsh>
    <TR VALIGN="TOP"> 
      <TD HEIGHT="21">[nowrap [date.select_date;name="start_date"]]</TD>
      <TD HEIGHT="21">[date.select_date;name="start_date"]</TD>
      <TD COLSPAN="2" HEIGHT="21">Automatically creates selects for whole date, 
        and uses javascript to store the combined date in a hidden variable, in 
        the format mm-dd-yyyy. (dont_combine=1 turns off combine feature.)</TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD HEIGHT="21">[nowrap [date.select_date;name="end_date";fill="12-12-2005";to_date=1]]</TD>
      <TD HEIGHT="21">[date.select_date;name="end_date";fill="12-12-2005";to_date=1]</TD>
      <TD COLSPAN="2" HEIGHT="21">Fill in a default date.</TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD HEIGHT="21">[nowrap [date.select_date;name="end_date2";fill="12-12-2005"]]</TD>
      <TD HEIGHT="21">[date.select_date;name="end_date2";fill="12-12-2005"]</TD>
      <TD COLSPAN="2" HEIGHT="21">Fill in a default date.</TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD HEIGHT="21">&nbsp;</TD>
      <TD HEIGHT="21">&nbsp;</TD>
      <TD COLSPAN="2" HEIGHT="21">&nbsp;</TD>
    </TR>
  </FORM>
</TABLE>
<BR>
<TABLE WIDTH="100%" BORDER="1" CELLSPACING="2" CELLPADDING="2">
  <TR VALIGN="TOP"> 
    <TD COLSPAN="4" BGCOLOR="#000099"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><B><FONT COLOR="#FFFFFF"><A NAME="states"></A>State 
      Pulldown</FONT></B></FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD COLSPAN="4"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Creates 
      a form select with states. By default, the name of the select is "state" 
      and the values are the two-letter postal abbreviations. </FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Code</FONT></B></TD>
    <TD><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Produces</FONT></B></TD>
    <TD COLSPAN="2"><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Notes</FONT></B></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [state.select]]</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[state.select]</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Default</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [state.select;options="name"]]</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[state.select;options="name"]</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Shows state 
      names only</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [state.select;options="abbr"]]</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[state.select;options="abbr"]</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Shows state 
      abreviations only</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [state.select;extras=1]]</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[state.select;extras=1]</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Shows additional 
      US postal destinations (Puerto Rico, military, etc.) </FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [state.select;name="billing_state"]]</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[state.select;name="billing_state"]</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Changes 
      the name of the select to "billing_state"</FONT></TD>
  </TR>
</TABLE>
<BR>
<TABLE WIDTH="100%" BORDER="1" CELLSPACING="2" CELLPADDING="2">
  <TR VALIGN="TOP"> 
    <TD COLSPAN="4" BGCOLOR="#000099"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><B><FONT COLOR="#FFFFFF"><A NAME="countries"></A>Country 
      Pulldown</FONT></B></FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD COLSPAN="4"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Creates 
      a form select with countries. By default, the name of the select is "country" 
      and the values are the two-letter ISO abbreviations. </FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Code</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Produces</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Notes</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [country.select]]</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[country.select]</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Default</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
      [country.select;name="billing_country"]]</FONT></TD>
    <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[country.select;name="billing_country"]</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Changes 
      the name of the select to "billing_country"</FONT></TD>
  </TR>
</TABLE>
<BR>
<TABLE WIDTH="100%" BORDER="1" CELLSPACING="2" CELLPADDING="2">
	<TR VALIGN="TOP"> 
		<TD COLSPAN="4" BGCOLOR="#000099"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><B><FONT COLOR="#FFFFFF"><A NAME="richtext"></A>Rich 
			Textarea</FONT></B></FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD COLSPAN="4"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">In IE 5.5+ 
			replaces regular &lt;TEXTAREA&gt; with a rich text editing box. Other browsers 
			get the normal textarea.</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Code</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Produces</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Notes</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [gadgets.richtextarea;name="long_desc"]]</FONT></TD>
		<TD>[gadgets.richtextarea;name="long_desc";]</TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Default</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
			[gadgets.richtextarea;name="longer_desc";width='500';height='300']]</FONT></TD>
		<TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.richtextarea;name="longer_desc";width='500';height='220']</FONT></TD>
		<TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Minimum 
			is 415x100.</FONT></TD>
	</TR>
	<TR VALIGN="TOP">
		<TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap 
			[gadgets.richtextarea;name="a_desc";value='Here is an initial value.']]</FONT></TD>
		<TD HEIGHT="21">[gadgets.richtextarea;name="a_desc";value='Here is an initial value.']</TD>
		<TD COLSPAN="2" HEIGHT="21">You can pass it an initial value.</TD>
	</TR>
</TABLE>
<BR>
<FORM NAME="form1" METHOD="post" ACTION="">
  <TABLE WIDTH="100%" BORDER="1" CELLSPACING="2" CELLPADDING="2">
    <TR VALIGN="TOP"> 
      <TD COLSPAN="4" BGCOLOR="#000099"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><B><FONT COLOR="#FFFFFF"><A NAME="dualselect"></A>Dual 
        Select Boxes</FONT></B></FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD COLSPAN="4"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Creates 
        two list boxes and allows you to move elements back and forth.</FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Code</FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Produces</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Notes</FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.dualselect;
			options1=['<OPTION VALUE=1>One
			<OPTION VALUE=2>Two
			<OPTION VALUE=3>Three
			<OPTION VALUE=4>Four
			<OPTION VALUE=5>Five
			<OPTION VALUE=6>Six
			<OPTION VALUE=7>Seven
			<OPTION VALUE=8>Eight
			<OPTION VALUE=9>Nine
			<OPTION VALUE=10>Ten
			']]]</XMP></FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.dualselect;
			options1=['<OPTION VALUE=1>One
			<OPTION VALUE=2>Two
			<OPTION VALUE=3>Three
			<OPTION VALUE=4>Four
			<OPTION VALUE=5>Five
			<OPTION VALUE=6>Six
			<OPTION VALUE=7>Seven
			<OPTION VALUE=8>Eight
			<OPTION VALUE=9>Nine
			<OPTION VALUE=10>Ten
			']]</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Default; 
        you must pass at least options1 (left select) or options2 (right select)</FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [var a.options1=['<OPTION VALUE=1>One
			 <OPTION VALUE=2>Two
			 <OPTION VALUE=3>Three
			 <OPTION VALUE=4>Four
			 <OPTION VALUE=5>Five
			 <OPTION VALUE=6>Six
			 <OPTION VALUE=7>Seven
			 <OPTION VALUE=8>Eight
			 <OPTION VALUE=9>Nine
			 <OPTION VALUE=10>Ten
			 ']]]</FONT></TD>
      <TD HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[var a.options1=['<OPTION VALUE=1>One
			 <OPTION VALUE=2>Two
			 <OPTION VALUE=3>Three
			 <OPTION VALUE=4>Four
			 <OPTION VALUE=5>Five
			 <OPTION VALUE=6>Six
			 <OPTION VALUE=7>Seven
			 <OPTION VALUE=8>Eight
			 <OPTION VALUE=9>Nine
			 <OPTION VALUE=10>Ten
			 ']]</FONT></TD>
      <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Setting 
        variable for use in examples.</FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.dualselect;
			name1="left";
			name2="right";
			options1=a.options1;
			single=1]]</XMP></FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.dualselect;name1="left";name2="right";options1=a.options1;single=1]</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Set the 
        select names using name1 and name2. Names MUST be unique within the form. 
        Do not allow multiple selections. (single1/single2 also available.)</FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.dualselect;
			name1="left2";
			name2="right2";
			options1=a.options1;
			sort1="value";
			sort2="text"]]</XMP></FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.dualselect;name1="left2";name2="right2";options1=a.options1;sort1="value";sort2="text"]</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Show sort buttons and sort select 1 by values, sort select 2 by text. Can also set both sorts by just using sort="text" or "value".</FONT></TD>
    </TR>
		<TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.dualselect;
			name1="left2a";
			name2="right2a";
			options1=a.options1;
			selectall=1;
			sort2="text"]]</XMP></FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.dualselect;
			name1="left2a";
			name2="right2a";
			options1=a.options1;
			selectall=1;
			sort2="text"]</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">selectall/selectall1/selectall2 
        creates a &quot;Select All&quot; button for the select.</FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.dualselect;
			name1="left3";
			name2="right3";
			options1=a.options1;
			autosort1="value";
			autosort2="text"]]</XMP></FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.dualselect;name1="lef3t";name2="right3";options1=a.options1;autosort1="value";autosort2="text"]</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Autosort select 1 by values, autosort select 2 by text. Can also set both to autosort by just using autosort="text" or "value".</FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.dualselect;
			name1="left4";
			name2="right4";
			options1=a.options1;
			autosort1="value";
			sort2="text";
			updown2=1;]]</XMP></FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.dualselect;
			name1="left4";
			name2="right4";
			options1=a.options1;
			autosort1="value";
			sort2="text";
			updown2=1;]</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Autosort 
        select 1 by values, allow button to sort select 2 by text, also allow 
        buttons to move items in select 2 up or down. (updown/updown1 also available.) 
        </FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.dualselect;
			name1="left4a";
			name2="right4a";
			options1=a.options1;
			topbottom=1;
			sort2="text";
			updown2=1;]]</XMP></FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.dualselect;
			name1="left4a";
			name2="right4a";
			options1=a.options1;
			topbottom=1;
			sort2="text";
			updown2=1;]</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">In addition 
        to up and down buttons, topbottom/topbottom1/topbottom2 provides buttons 
        moving item to top or bottom of list.</FONT></TD>
    </TR>
    <TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.dualselect;
			name1="left5";
			name2="right5";
			options1=a.options1;
			size=5;
			autowidth1=1;
			width2=150]]</XMP></FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.dualselect;
			name1="left5";
			name2="right5";
			options1=a.options1;
			size=5;
			autowidth1=1;
			width2=150]</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Set number of lines to show with size/size1/size2, allow select to set its width by its contents using autowidth/autowidth1/autowidth2, specify pixel width using width/width1/width2 (doesn't work in all browsers)</FONT></TD>
    </TR>
	 <TR VALIGN="TOP"> 
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.dualselect;
			name1="left6";
			name2="right6";
			options1=a.options1;
			rightvalue=["Move &gt;&gt;"];
			leftvalue=["&lt;&lt; Move"];
			upvalue=["Up"];
			downvalue=["Down"];
			topvalue=["Top"];
			bottomvalue=["Bottom"];
			topbottom2=1]]</XMP></FONT></TD>
      <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.dualselect;
			name1="left6";
			name2="right6";
			options1=a.options1;
			rightvalue=["Move &gt;&gt;"];
			leftvalue=["&lt;&lt; Move"];
			upvalue=["Up"];
			downvalue=["Down"];
			topvalue=["Top"];
			bottomvalue=["Bottom"];
			topbottom2=1]</FONT></TD>
      <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Use text 
        buttons instead of graphical arrows by specifying the value of the button.</FONT></TD>
    </TR>
  </TABLE>
</FORM>
<BR>
<TABLE WIDTH="100%" BORDER="1" CELLSPACING="2" CELLPADDING="2">
  <TR VALIGN="TOP"> 
    <TD COLSPAN="4" BGCOLOR="#000099"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><B><FONT COLOR="#FFFFFF"><A NAME="autoexpand"></A>Autoexpanding 
      Select </FONT></B></FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD COLSPAN="4"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">This is 
      only certified to work in IE. Other browsers should just get a regular select. 
      Basically, it deals with the problem of very wide pulldowns that need to 
      fit in a narrower space.</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Code</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Produces</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Notes</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.selectexpander; 
      options=country.options]]</XMP></FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.selectexpander; 
      options=country.options]</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Default; 
      you must pass at least options</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.selectexpander; 
      options=country.options;name='some_countries']]</XMP></FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.selectexpander; 
      options=country.options;name='some_countries']</FONT></TD>
    <TD COLSPAN="2" HEIGHT="21"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Set 
      the select's name</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><XMP>[nowrap [gadgets.selectexpander; 
      options=country.options;name='other_countries';width='200px']]</XMP></FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[gadgets.selectexpander; 
      options=country.options;name='other_countries';width='200px']</FONT></TD>
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Set the 
      width</FONT></TD>
  </TR>
</TABLE>
<BR>
<TABLE WIDTH="100%" BORDER="1" CELLSPACING="2" CELLPADDING="2">
	<TR VALIGN="TOP"> 
		<TD COLSPAN="4" BGCOLOR="#000099"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><B><FONT COLOR="#FFFFFF"><A NAME="numbers"></A>Numbers</FONT></B></FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD COLSPAN="4"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Number 
			formatting </FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Code</FONT></B></TD>
		<TD><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Produces</FONT></B></TD>
		<TD COLSPAN="2"><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Notes</FONT></B></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.decimal]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.decimal]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Character 
			used as decimal point</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.divider]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.divider]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Character 
			used as thousands divider</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.places]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.places]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Number 
			of decimal places to use by default</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.makenice;number=1.6789]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.makenice;number=1.6789]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Make a 
			number (under 1,000,000,000,000) look nice</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.makenice;number=12.6789]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.makenice;number=12.6789]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Make a 
			number (under 1,000,000,000,000) look nice</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.makenice;number=123.6789]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.makenice;number=123.6789]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Make a 
			number (under 1,000,000,000,000) look nice</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.makenice;number=1234.6789]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.makenice;number=1234.6789]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Make a 
			number (under 1,000,000,000,000) look nice</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.makenice;number=12345.6789]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.makenice;number=12345.6789]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Make a 
			number (under 1,000,000,000,000) look nice</FONT></TD>
	</TR>
	
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.makenice;number=-12345.6789]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.makenice;number=-12345.6789]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Make a 
			number (under 1,000,000,000,000) look nice</FONT></TD>
	</TR>
	<TR VALIGN="TOP"> 
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [numbers.makenice;places=1;decimal="_";divider="/";number=12345.6789]]</FONT></TD>
		<TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[numbers.makenice;places=1;decimal="_";divider="/";number=12345.6789]</FONT></TD>
		<TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Change 
			places, decimal point, divider</FONT></TD>
	</TR>
</TABLE>
<BR>
<TABLE WIDTH="100%" BORDER="1" CELLSPACING="2" CELLPADDING="2">
  <TR VALIGN="TOP"> 
    <TD BGCOLOR="#000099" COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2"><B><FONT COLOR="#FFFFFF"><A NAME="formanalyze"></A>Form 
      Analyzer </FONT></B></FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD COLSPAN="2"><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">This is 
      a javascript that will analyze all the forms on a page and give you all 
      the elements. Just place the code at the end of the document. It only works 
      on Alpha unless you force it to work elsewhere.</FONT></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Code</FONT></B></TD>
    <TD><B><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Notes</FONT></B></TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [javascript.form_analyze]]</FONT></TD>
    <TD>&nbsp;</TD>
  </TR>
  <TR VALIGN="TOP"> 
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">[nowrap [javascript.form_analyze;force=1]]</FONT></TD>
    <TD><FONT FACE="Arial, Helvetica, sans-serif" SIZE="2">Forces it to work on 
      beta and live</FONT></TD>
  </TR>
</TABLE>
<P>&nbsp;</P>
